## Tugas Besar Advanced Machine Learning

Rifaldi Tajrial - 1301208185

Yoga Afrizal Riandika - 1301208543

Kelas : IF-42-GAB01

In [ ]:
#Import Library yang diperlukan untuk pembacaan Dataset
import pandas as pd
import numpy as np

In [ ]:
#Pembacaan Dataset
data_train = pd.read_excel("boston_train.xlsx")
data_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.40771,0.0,6.20,1,0.507,6.164,91.3,3.0480,8,307,17.4,395.24,21.46,21.7
1,19.60910,0.0,18.10,0,0.671,7.313,97.9,1.3163,24,666,20.2,396.90,13.44,15.0
2,6.71772,0.0,18.10,0,0.713,6.749,92.6,2.3236,24,666,20.2,0.32,17.44,13.4
3,1.51902,0.0,19.58,1,0.605,8.375,93.9,2.1620,5,403,14.7,388.45,3.32,50.0
4,9.59571,0.0,18.10,0,0.693,6.404,100.0,1.6390,24,666,20.2,376.11,20.31,12.1

In [ ]:
#Cek info tipe data yang berada dalam Dataset
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404 entries, 0 to 403
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     404 non-null    float64
 1   ZN       404 non-null    float64
 2   INDUS    404 non-null    float64
 3   CHAS     404 non-null    int64
 4   NOX      404 non-null    float64
 5   RM       404 non-null    float64
 6   AGE      404 non-null    float64
 7   DIS      404 non-null    float64
 8   RAD      404 non-null    int64
 9   TAX      404 non-null    int64
 10  PTRATIO  404 non-null    float64
 11  B        404 non-null    float64
 12  LSTAT    404 non-null    float64
 13  PRICE    404 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 44.3 KB

In [ ]:
#Cek nilai kosong dari dataset
data_train.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64

In [ ]:
#Cek informasi statistikal dalam dataset
print(data_train.describe())

             CRIM          ZN       INDUS        CHAS         NOX          RM  \
count  404.000000  404.000000  404.000000  404.000000  404.000000  404.000000
mean     3.423852   10.818069   11.168911    0.071782    0.556195    6.278074
std      8.197229   23.061649    6.798110    0.258447    0.116187    0.691061
min      0.006320    0.000000    0.460000    0.000000    0.385000    3.561000
25%      0.082598    0.000000    5.190000    0.000000    0.453000    5.888000
50%      0.260420    0.000000    9.690000    0.000000    0.538000    6.198500
75%      3.694070    3.125000   18.100000    0.000000    0.624000    6.616500
max     88.976200   95.000000   27.740000    1.000000    0.871000    8.780000

              AGE         DIS         RAD         TAX     PTRATIO           B  \
count  404.000000  404.000000  404.000000  404.000000  404.000000  404.000000
mean    68.979455    3.724405    9.551980  407.712871   18.458911  353.866139
std     27.692028    1.983793    8.741662  169.344926    2.152993   95.592190
min      2.900000    1.129600    1.000000  188.000000   12.600000    0.320000
25%     45.800000    2.110500    4.000000  278.500000   17.400000  374.527500
50%     77.150000    3.207450    5.000000  330.000000   19.000000  391.880000
75%     93.900000    5.104475   24.000000  666.000000   20.200000  396.285000
max    100.000000   10.585700   24.000000  711.000000   22.000000  396.900000

            LSTAT       PRICE
count  404.000000  404.000000
mean    12.768267   22.409901
std      7.170852    8.940920
min      1.730000    6.300000
25%      7.135000   17.175000
50%     11.675000   20.950000
75%     16.605000   25.000000
max     37.970000   50.000000

In [ ]:
data_test = pd.read_excel("boston_test.xlsx")
data_test.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.01951,17.5,1.38,0,0.4161,7.104,59.5,9.2229,3,216,18.6,393.24,8.05,33.0
1,0.14866,0.0,8.56,0,0.5200,6.727,79.9,2.7778,5,384,20.9,394.76,9.42,27.5
2,25.04610,0.0,18.10,0,0.6930,5.987,100.0,1.5888,24,666,20.2,396.90,26.77,5.6
3,3.67367,0.0,18.10,0,0.5830,6.312,51.9,3.9917,24,666,20.2,388.62,10.58,21.2
4,9.51363,0.0,18.10,0,0.7130,6.728,94.1,2.4961,24,666,20.2,6.68,18.71,14.9

In [ ]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     102 non-null    float64
 1   ZN       102 non-null    float64
 2   INDUS    102 non-null    float64
 3   CHAS     102 non-null    int64
 4   NOX      102 non-null    float64
 5   RM       102 non-null    float64
 6   AGE      102 non-null    float64
 7   DIS      102 non-null    float64
 8   RAD      102 non-null    int64
 9   TAX      102 non-null    int64
 10  PTRATIO  102 non-null    float64
 11  B        102 non-null    float64
 12  LSTAT    102 non-null    float64
 13  PRICE    102 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 11.3 KB

In [ ]:
data_test.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64

In [ ]:
print(data_test.describe())

             CRIM          ZN       INDUS        CHAS         NOX          RM  \
count  102.000000  102.000000  102.000000  102.000000  102.000000  102.000000
mean     4.364772   13.524510   11.009510    0.058824    0.548755    6.310618
std     10.055150   24.324577    7.134571    0.236456    0.115022    0.749645
min      0.010960    0.000000    1.250000    0.000000    0.389000    4.138000
25%      0.079095    0.000000    4.210000    0.000000    0.438250    5.878250
50%      0.250895    0.000000    9.900000    0.000000    0.538000    6.235500
75%      3.438745   20.000000   18.100000    0.000000    0.624000    6.707000
max     67.920800  100.000000   27.740000    1.000000    0.871000    8.725000

              AGE         DIS         RAD         TAX     PTRATIO           B  \
count  102.000000  102.000000  102.000000  102.000000  102.000000  102.000000
mean    66.972549    4.074823    9.539216  410.313725   18.442157  367.795490
std     29.979046    2.523548    8.612300  166.106788    2.222408   71.107801
min      6.000000    1.178100    1.000000  187.000000   13.000000    3.650000
25%     40.650000    2.050300    4.000000  287.500000   17.000000  377.255000
50%     78.750000    3.199200    5.000000  335.000000   19.100000  389.780000
75%     94.550000    5.469050   20.000000  666.000000   20.200000  395.717500
max    100.000000   12.126500   24.000000  711.000000   22.000000  396.900000

            LSTAT       PRICE
count  102.000000  102.000000
mean    12.196765   23.019608
std      7.038117   10.181609
min      1.980000    5.000000
25%      6.802500   15.575000
50%     10.175000   22.000000
75%     17.835000   27.400000
max     31.990000   50.000000

In [ ]:
#Pelabelan dalam fitur yang akan menjadi Target regresi
label_train = data_train['PRICE']
label_test = data_test['PRICE']

# Spliting target variable and independent variables
data_train = data_train.drop(['ZN','CHAS','PRICE'], axis=1)
data_test = data_test.drop(['ZN','CHAS','PRICE'], axis=1)

In [ ]:
# #Proses Encoder
# from sklearn import preprocessing

# data_train = data_train.apply(preprocessing.LabelEncoder().fit_transform)
# data_test = data_train.apply(preprocessing.LabelEncoder().fit_transform)

In [ ]:
#Normalisasi Data pada Dataset
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

data_train = data_train.copy()
data_train = scaler.fit_transform(data_train)
data_test = data_test.copy()
data_test = scaler.fit_transform(data_test)

In [ ]:
pip install niapy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: niapy in /usr/local/lib/python3.7/dist-packages (2.0.2)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from niapy) (1.3.5)
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.7/dist-packages (from niapy) (1.21.6)
Requirement already satisfied: openpyxl>=3.0.3 in /usr/local/lib/python3.7/dist-packages (from niapy) (3.0.10)
Requirement already satisfied: matplotlib>=2.2.4 in /usr/local/lib/python3.7/dist-packages (from niapy) (3.2.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2.4->niapy) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2.4->niapy) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2.4->niapy) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2.4->niapy) (1.4.3)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.2.4->niapy) (4.1.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=3.0.3->niapy) (1.1.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->niapy) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=2.2.4->niapy) (1.15.0)

In [ ]:
#Import model Regressi dan evaluasi skor model
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score

In [ ]:
#import model Nature Inspired dari NiaPy
from niapy.problems import Problem
from niapy.task import OptimizationType, Task
from niapy.algorithms.modified import HybridSelfAdaptiveBatAlgorithm

In [ ]:
#Definisikan method yang akan dicari hyperparameter terbaiknya
def get_hyperparameters(x):
  kernel = ('rbf', 'poly', 'sigmoid', 'linear')
  C = int(5 + x[0] * 95)
  degree = int(1 + x[1] * 5)
  kernels = kernel[int(x[2] * 2)]
  gamma = 'auto' if x[0] < 0.5 else 'scale'

  params =  {
        'C': C,
        #[0.1, 1, 100,1000]
        'kernel': kernels,
        #['rbf','poly','sigmoid','linear']
        'degree': degree,
        #[1,2,3,4,5,6]
        'gamma': gamma
        #[auto and scale]
    }

  return params

In [ ]:
#Inisiasi method pembangun classifier
def get_classifier(x):
    """Get classifier from solution `x`."""
    params = get_hyperparameters(x)
    return SVR(**params)

In [ ]:
#Inisiasi custom Problem untuk optimasi Hyperparaeter
class SVMHyperparameterOptimization(Problem):
    def __init__(self, data_train, label_train):
        super().__init__(dimension=data_train.shape[1], lower=0, upper=1)
        self.data_train = data_train
        self.label_train = label_train

#Hitung hasil evaluasi dari optimasi hyperparameter
    def _evaluate(self, x):
        model = get_classifier(x)
        scores = cross_val_score(model, self.data_train, self.label_train, cv=2, n_jobs=-1)
        return scores.mean()

In [ ]:
# lower = (0.01, 0.0001, 0.0001)
# upper = (32000.0, 32.0, 1.0)

In [ ]:
#proses training pada algortima HSABA
from niapy.algorithms.modified.hsaba import HybridSelfAdaptiveBatAlgorithm

problem = SVMHyperparameterOptimization(data_train, label_train)

#di run sebanyak 100 iterasi dalam method Problem
task = Task(problem, max_iters=100, optimization_type=OptimizationType.MAXIMIZATION)

#Inisiasi parameter dari HSABA seperti r0, A0, fmin dan fmax
algorithm = HybridSelfAdaptiveBatAlgorithm(population_size=10, r0 = 0.5, A0 = 0.5, fmin = 0, fmax = 2)
best_params, best_accuracy = algorithm.run(task)

#Tampilkan hasil training
print('Best parameters:', get_hyperparameters(best_params))

Best parameters: {'C': 100, 'kernel': 'rbf', 'degree': 1, 'gamma': 'scale'}

In [ ]:
#Hitung hasil evaluasi dari proses training
default_model = SVR()
best_model = get_classifier(best_params)

default_model.fit(data_train, label_train)
best_model.fit(data_train, label_train)

default_score = default_model.score(data_test, label_test)
best_score = best_model.score(data_test, label_test)

#Tampilkan hasil training dengan akurasi
print('Default model accuracy:', default_score)
print('Best model accuracy:', best_score)

Default model accuracy: 0.6376605231038779
Best model accuracy: 0.8783137966750106